-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('BORROWER', 'ADMIN');

-- CreateEnum
CREATE TYPE "PartnerStatus" AS ENUM ('ACTIVE', 'BLOCKED');

-- CreateEnum
CREATE TYPE "LoanProductStatus" AS ENUM ('ACTIVE', 'INACTIVE');

-- CreateEnum
CREATE TYPE "LoanApplicationStatus" AS ENUM ('DRAFT', 'SUBMITTED', 'UNDER_REVIEW', 'APPROVED', 'REJECTED', 'DISBURSED');

-- CreateEnum
CREATE TYPE "ApplicationSource" AS ENUM ('PLATFORM', 'PARTNER_API');

-- CreateEnum
CREATE TYPE "LoanStatus" AS ENUM ('ACTIVE', 'CLOSED', 'DEFAULTED');

-- CreateEnum
CREATE TYPE "FundType" AS ENUM ('EQUITY', 'DEBT', 'HYBRID');

-- CreateEnum
CREATE TYPE "LienStatus" AS ENUM ('PENDING', 'MARKED', 'RELEASE_REQUESTED', 'RELEASED');

-- CreateEnum
CREATE TYPE "Registrar" AS ENUM ('CAMS', 'KFINTECH', 'MFCENTRAL');

-- CreateEnum
CREATE TYPE "ProductStatus" AS ENUM ('ACTIVE', 'OUT_OF_STOCK', 'DISCONTINUED');

-- CreateEnum
CREATE TYPE "DeliveryStatus" AS ENUM ('PENDING', 'PROCESSING', 'SHIPPED', 'DELIVERED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('DISBURSEMENT', 'EMI_PAYMENT', 'PREPAYMENT', 'INTEREST_CHARGE', 'PENALTY');

-- CreateEnum
CREATE TYPE "KycStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'VERIFIED', 'REJECTED');

-- CreateEnum
CREATE TYPE "EmiStatus" AS ENUM ('PENDING', 'PAID', 'OVERDUE', 'PARTIALLY_PAID');

-- CreateEnum
CREATE TYPE "MarginCallStatus" AS ENUM ('PENDING', 'NOTIFIED', 'TOPPED_UP', 'RESOLVED', 'LIQUIDATED');

-- CreateEnum
CREATE TYPE "CreditLineStatus" AS ENUM ('PENDING', 'ACTIVE', 'FROZEN', 'CLOSED', 'DEFAULTED');

-- CreateEnum
CREATE TYPE "TrancheStatus" AS ENUM ('ACTIVE', 'CLOSED');

-- CreateEnum
CREATE TYPE "TrancheTransactionType" AS ENUM ('DISBURSEMENT', 'INTEREST_PAYMENT', 'PRINCIPAL_PAYMENT', 'FULL_REPAYMENT');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "pan" TEXT,
    "password_hash" TEXT NOT NULL,
    "role" "UserRole" NOT NULL DEFAULT 'BORROWER',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "partners" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "api_key_hash" TEXT NOT NULL,
    "webhook_url" TEXT,
    "status" "PartnerStatus" NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "partners_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "loan_products" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "interest_rate" DECIMAL(5,2) NOT NULL,
    "processing_fee_percent" DECIMAL(5,2) NOT NULL,
    "min_amount" INTEGER NOT NULL,
    "max_amount" INTEGER NOT NULL,
    "min_tenure_months" INTEGER NOT NULL,
    "max_tenure_months" INTEGER NOT NULL,
    "equity_ltv" DECIMAL(3,2) NOT NULL,
    "debt_ltv" DECIMAL(3,2) NOT NULL,
    "status" "LoanProductStatus" NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "loan_products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "loan_applications" (
    "id" TEXT NOT NULL,
    "application_number" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "partner_id" TEXT,
    "loan_product_id" TEXT NOT NULL,
    "product_id" TEXT,
    "requested_amount" INTEGER NOT NULL,
    "approved_amount" INTEGER,
    "selected_tenure" INTEGER NOT NULL,
    "status" "LoanApplicationStatus" NOT NULL DEFAULT 'DRAFT',
    "rejection_reason" TEXT,
    "created_via" "ApplicationSource" NOT NULL DEFAULT 'PLATFORM',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "loan_applications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "loans" (
    "id" TEXT NOT NULL,
    "loan_number" TEXT NOT NULL,
    "loan_application_id" TEXT NOT NULL,
    "principal" INTEGER NOT NULL,
    "interest_rate" DECIMAL(5,2) NOT NULL,
    "tenure_months" INTEGER NOT NULL,
    "emi_amount" INTEGER NOT NULL,
    "outstanding_principal" INTEGER NOT NULL,
    "outstanding_interest" INTEGER NOT NULL DEFAULT 0,
    "status" "LoanStatus" NOT NULL DEFAULT 'ACTIVE',
    "disbursed_at" TIMESTAMP(3) NOT NULL,
    "closed_at" TIMESTAMP(3),
    "next_emi_date" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "loans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "collaterals" (
    "id" TEXT NOT NULL,
    "loan_application_id" TEXT,
    "loan_id" TEXT,
    "credit_line_id" TEXT,
    "fund_name" TEXT NOT NULL,
    "fund_type" "FundType" NOT NULL,
    "isin" TEXT NOT NULL,
    "folio_number" TEXT,
    "units" DECIMAL(12,4) NOT NULL,
    "nav" DECIMAL(10,4) NOT NULL,
    "pledged_value" INTEGER NOT NULL,
    "current_value" INTEGER NOT NULL,
    "ltv_applied" DECIMAL(3,2) NOT NULL,
    "eligible_amount" INTEGER NOT NULL,
    "registrar" "Registrar" NOT NULL DEFAULT 'CAMS',
    "lien_status" "LienStatus" NOT NULL DEFAULT 'PENDING',
    "lien_reference" TEXT,
    "lien_marked_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "collaterals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "products" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" TEXT NOT NULL,
    "brand" TEXT,
    "price" INTEGER NOT NULL,
    "image_url" TEXT,
    "available_tenures" INTEGER[],
    "stock_quantity" INTEGER NOT NULL DEFAULT 0,
    "status" "ProductStatus" NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "products_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "orders" (
    "id" TEXT NOT NULL,
    "order_number" TEXT NOT NULL,
    "loan_id" TEXT NOT NULL,
    "product_id" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "shipping_address" JSONB NOT NULL,
    "delivery_status" "DeliveryStatus" NOT NULL DEFAULT 'PENDING',
    "tracking_number" TEXT,
    "estimated_delivery" TIMESTAMP(3),
    "delivered_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "loan_transactions" (
    "id" TEXT NOT NULL,
    "loan_id" TEXT NOT NULL,
    "type" "TransactionType" NOT NULL,
    "amount" INTEGER NOT NULL,
    "principal_component" INTEGER NOT NULL DEFAULT 0,
    "interest_component" INTEGER NOT NULL DEFAULT 0,
    "balance_after" INTEGER NOT NULL,
    "reference" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "loan_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "entity_type" TEXT NOT NULL,
    "entity_id" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "old_value" JSONB,
    "new_value" JSONB,
    "performed_by" TEXT,
    "ip_address" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "customers" (
    "id" TEXT NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "date_of_birth" TIMESTAMP(3),
    "aadhaar_number" TEXT,
    "aadhaar_verified" BOOLEAN NOT NULL DEFAULT false,
    "aadhaar_verified_at" TIMESTAMP(3),
    "pan_number" TEXT,
    "pan_verified" BOOLEAN NOT NULL DEFAULT false,
    "pan_verified_at" TIMESTAMP(3),
    "kyc_status" "KycStatus" NOT NULL DEFAULT 'PENDING',
    "kyc_rejection_reason" TEXT,
    "address_line_1" TEXT,
    "address_line_2" TEXT,
    "city" TEXT,
    "state" TEXT,
    "pincode" TEXT,
    "employment_type" TEXT,
    "monthly_income" INTEGER,
    "company_name" TEXT,
    "bank_account_number" TEXT,
    "bank_ifsc_code" TEXT,
    "bank_name" TEXT,
    "credit_score" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "emi_schedules" (
    "id" TEXT NOT NULL,
    "loan_id" TEXT NOT NULL,
    "installment_no" INTEGER NOT NULL,
    "due_date" TIMESTAMP(3) NOT NULL,
    "emi_amount" INTEGER NOT NULL,
    "principal_amount" INTEGER NOT NULL,
    "interest_amount" INTEGER NOT NULL,
    "status" "EmiStatus" NOT NULL DEFAULT 'PENDING',
    "paid_amount" INTEGER NOT NULL DEFAULT 0,
    "paid_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "emi_schedules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "margin_calls" (
    "id" TEXT NOT NULL,
    "call_number" TEXT NOT NULL,
    "loan_id" TEXT NOT NULL,
    "trigger_ltv" DECIMAL(5,2) NOT NULL,
    "current_ltv" DECIMAL(5,2) NOT NULL,
    "shortfall_amount" INTEGER NOT NULL,
    "status" "MarginCallStatus" NOT NULL DEFAULT 'PENDING',
    "due_date" TIMESTAMP(3) NOT NULL,
    "top_up_amount" INTEGER,
    "resolved_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "margin_calls_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "credit_lines" (
    "id" TEXT NOT NULL,
    "credit_line_number" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "sanctioned_limit" INTEGER NOT NULL,
    "utilized_amount" INTEGER NOT NULL DEFAULT 0,
    "available_limit" INTEGER NOT NULL,
    "interest_rate" DECIMAL(5,2) NOT NULL,
    "accrued_interest" INTEGER NOT NULL DEFAULT 0,
    "total_collateral_value" INTEGER NOT NULL DEFAULT 0,
    "total_eligible_amount" INTEGER NOT NULL DEFAULT 0,
    "current_ltv" DECIMAL(5,2),
    "status" "CreditLineStatus" NOT NULL DEFAULT 'PENDING',
    "activated_at" TIMESTAMP(3),
    "expires_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "credit_lines_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tranches" (
    "id" TEXT NOT NULL,
    "tranche_number" TEXT NOT NULL,
    "credit_line_id" TEXT NOT NULL,
    "principal_amount" INTEGER NOT NULL,
    "outstanding_principal" INTEGER NOT NULL,
    "interest_rate" DECIMAL(5,2) NOT NULL,
    "accrued_interest" INTEGER NOT NULL DEFAULT 0,
    "paid_interest" INTEGER NOT NULL DEFAULT 0,
    "status" "TrancheStatus" NOT NULL DEFAULT 'ACTIVE',
    "disbursed_at" TIMESTAMP(3) NOT NULL,
    "closed_at" TIMESTAMP(3),
    "purpose" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "tranches_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "tranche_transactions" (
    "id" TEXT NOT NULL,
    "tranche_id" TEXT NOT NULL,
    "type" "TrancheTransactionType" NOT NULL,
    "amount" INTEGER NOT NULL,
    "principal_component" INTEGER NOT NULL DEFAULT 0,
    "interest_component" INTEGER NOT NULL DEFAULT 0,
    "balance_after" INTEGER NOT NULL,
    "reference" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tranche_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "credit_line_margin_calls" (
    "id" TEXT NOT NULL,
    "call_number" TEXT NOT NULL,
    "credit_line_id" TEXT NOT NULL,
    "trigger_ltv" DECIMAL(5,2) NOT NULL,
    "current_ltv" DECIMAL(5,2) NOT NULL,
    "shortfall_amount" INTEGER NOT NULL,
    "status" "MarginCallStatus" NOT NULL DEFAULT 'PENDING',
    "due_date" TIMESTAMP(3) NOT NULL,
    "top_up_amount" INTEGER,
    "resolved_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "credit_line_margin_calls_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "users_pan_key" ON "users"("pan");

-- CreateIndex
CREATE UNIQUE INDEX "partners_email_key" ON "partners"("email");

-- CreateIndex
CREATE UNIQUE INDEX "loan_applications_application_number_key" ON "loan_applications"("application_number");

-- CreateIndex
CREATE UNIQUE INDEX "loans_loan_number_key" ON "loans"("loan_number");

-- CreateIndex
CREATE UNIQUE INDEX "loans_loan_application_id_key" ON "loans"("loan_application_id");

-- CreateIndex
CREATE UNIQUE INDEX "orders_order_number_key" ON "orders"("order_number");

-- CreateIndex
CREATE UNIQUE INDEX "orders_loan_id_key" ON "orders"("loan_id");

-- CreateIndex
CREATE UNIQUE INDEX "customers_email_key" ON "customers"("email");

-- CreateIndex
CREATE UNIQUE INDEX "customers_aadhaar_number_key" ON "customers"("aadhaar_number");

-- CreateIndex
CREATE UNIQUE INDEX "customers_pan_number_key" ON "customers"("pan_number");

-- CreateIndex
CREATE UNIQUE INDEX "emi_schedules_loan_id_installment_no_key" ON "emi_schedules"("loan_id", "installment_no");

-- CreateIndex
CREATE UNIQUE INDEX "margin_calls_call_number_key" ON "margin_calls"("call_number");

-- CreateIndex
CREATE UNIQUE INDEX "credit_lines_credit_line_number_key" ON "credit_lines"("credit_line_number");

-- CreateIndex
CREATE UNIQUE INDEX "credit_lines_user_id_key" ON "credit_lines"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "tranches_tranche_number_key" ON "tranches"("tranche_number");

-- CreateIndex
CREATE UNIQUE INDEX "credit_line_margin_calls_call_number_key" ON "credit_line_margin_calls"("call_number");

-- AddForeignKey
ALTER TABLE "loan_applications" ADD CONSTRAINT "loan_applications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "loan_applications" ADD CONSTRAINT "loan_applications_partner_id_fkey" FOREIGN KEY ("partner_id") REFERENCES "partners"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "loan_applications" ADD CONSTRAINT "loan_applications_loan_product_id_fkey" FOREIGN KEY ("loan_product_id") REFERENCES "loan_products"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "loan_applications" ADD CONSTRAINT "loan_applications_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "products"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "loans" ADD CONSTRAINT "loans_loan_application_id_fkey" FOREIGN KEY ("loan_application_id") REFERENCES "loan_applications"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "collaterals" ADD CONSTRAINT "collaterals_loan_application_id_fkey" FOREIGN KEY ("loan_application_id") REFERENCES "loan_applications"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "collaterals" ADD CONSTRAINT "collaterals_loan_id_fkey" FOREIGN KEY ("loan_id") REFERENCES "loans"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "collaterals" ADD CONSTRAINT "collaterals_credit_line_id_fkey" FOREIGN KEY ("credit_line_id") REFERENCES "credit_lines"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_loan_id_fkey" FOREIGN KEY ("loan_id") REFERENCES "loans"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "orders" ADD CONSTRAINT "orders_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "products"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "loan_transactions" ADD CONSTRAINT "loan_transactions_loan_id_fkey" FOREIGN KEY ("loan_id") REFERENCES "loans"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_performed_by_fkey" FOREIGN KEY ("performed_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "emi_schedules" ADD CONSTRAINT "emi_schedules_loan_id_fkey" FOREIGN KEY ("loan_id") REFERENCES "loans"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "margin_calls" ADD CONSTRAINT "margin_calls_loan_id_fkey" FOREIGN KEY ("loan_id") REFERENCES "loans"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "credit_lines" ADD CONSTRAINT "credit_lines_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tranches" ADD CONSTRAINT "tranches_credit_line_id_fkey" FOREIGN KEY ("credit_line_id") REFERENCES "credit_lines"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tranche_transactions" ADD CONSTRAINT "tranche_transactions_tranche_id_fkey" FOREIGN KEY ("tranche_id") REFERENCES "tranches"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "credit_line_margin_calls" ADD CONSTRAINT "credit_line_margin_calls_credit_line_id_fkey" FOREIGN KEY ("credit_line_id") REFERENCES "credit_lines"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

